.header {
  /* width: 1920px; */
  width: 100%;
  height: 30px;
  background-color: #fb3640;
}
.sectionClass .container {
  max-width: initial !important;
}
.headerText {
  /* width: 633px; */
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.headerText .text-style-1 {
  font-weight: normal;
}

.navbar-brand {
  margin-right: 6rem !important;
}
.nav-link {
  color: #2c303f !important;
}
.desktop-logo {
  width: 225px;
  height: 51px;
}
#menu-icon,
.dropdown_down,
.mobile-footer,
.mobile-header,
.side-menu {
  display: none;
}

.order-now-btn {
  width: 113px;
  height: 35px;
  margin-top: 18px;
  border-radius: 17.5px;
  border: solid 1px #1f589f;
  color: #1f589f;
  background-color: white;
  vertical-align: middle;
  text-align: center;
}

.order-now-btn:hover {
  background-color: #1f589f;
  color: white;
}
.order-now-btn:focus {
  outline: 0;
  box-shadow: none;
}
.contact-number {
  width: 145px;
  height: 29px;
  margin-top: 22px;
  margin-left: 15px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #fb3640;
}

.cart-icon {
  width: 26px;
  height: 26px;
  margin-top: 22px;
  margin-left: 1.2%;
  object-fit: contain;
}

.site-header {
  /* width: 1920px;*/
  height: 75px;
  display: flex;
  justify-content: center;
  box-shadow: 0 12px 70px 0 rgba(0, 0, 0, 0.03), 0 0 12px 0 rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
}

.site-content,
.entry-content {
  margin-top: 0px;
}

.call-us-at {
  height: 124px;
  /* background-image: url(http://172.24.11.239/wordpress/wp-content/uploads/2019/10/img-footer-bg-pattern-repeat.png); */
  background: repeating-linear-gradient(
    130deg,
    #fa3741,
    #fc7a81 1px,
    #fa3741 2px,
    #fa3741 12px
  );
  /* background: -webkit-repeating-linear-gradient();
  background: -o-repeating-linear-gradient();
  background: -moz-repeating-linear-gradient();
  background: repeating-linear-gradient(); */
  display: flex;
  justify-content: center;
}
.call-us-at-div {
  text-align: center;
  display: inline-flex;
  align-items: center;
  width: 686px;
  height: 82px;
  background-color: #fa3741;
  margin: 1.7% 0%;
}
.Call-us-at-800-800-2 {
  height: 37px;
  padding-left: 39px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.16;
  color: #ffffff;
}
.Call-us-at-800-800-2 .text-style-1 {
  font-weight: normal;
}

.or {
  /* width: 22px; */
  height: 37px;
  padding-left: 25px;
  padding-right: 31px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.54;
  text-align: center;
  color: #ffffff;
}

.call-us-at-order-now-btn {
  width: 185px;
  height: 40px;
  border-radius: 23px;
  background-color: #ffffff;
}
.Order-Now {
  width: 86px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #1f589f;
}
.About-Medical-Alert {
  margin-bottom: 4.9%;
  width: 178px;
  height: 26px;
  font-family: Roboto;
  font-size: 20px;
  color: #2c303f;
}
.Fraud-Abuse-or-Neg {
  width: 187px;
  height: 33px;
  font-family: Roboto;
  font-size: 14px;
  color: #878992;
}

.Medical-Alert-by-Con {
  width: 333px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.8;
  color: #878992;
}
.Company {
  width: 86px;
  height: 26px;
  margin-bottom: 2.4%;
  font-family: Roboto;
  font-size: 20px;
  color: #2c303f;
}

.Products-Services {
  width: 181px;
  height: 26px;
  margin-bottom: 2.4%;
  font-family: Roboto;
  font-size: 20px;
  color: #2c303f;
}

.About-Us-Careers-Cus {
  width: 126px;
  height: 173px;
  font-family: Roboto;
  font-size: 14px;
  color: #878992;
  line-height: 2.86;
}
.Partnership-Opportun {
  font-family: Roboto;
  font-size: 14px;
  color: #878992;
  line-height: 2.86;
}
.-Monitoring-At-H {
  width: 134px;
  height: 160px;
  font-family: Roboto;
  font-size: 14px;
  color: #878992;
  line-height: 2.86;
}

.Fall-Detection-FAQ-M {
  width: 137px;
  height: 160px;
  font-family: Roboto;
  font-size: 14px;
  color: #878992;
  line-height: 2.86;
}

.About-Us-Careers-Cus ul,
.Partnership-Opportun ul,
.-Monitoring-At-H ul,
.Fall-Detection-FAQ-M ul,
ul li.Partnership-Opportun,
.Fraud-Abuse-or-Neg {
  list-style: none;
}

.Connect-with-Us {
  width: 148px;
  height: 26px;
  font-family: Roboto;
  font-size: 20px;
  color: #2c303f;
}

.nav-link.active {
  border-bottom: 2px solid #1f589f;
  color: #1f589f !important;
}

.social-media-images {
  margin-top: 20px;
  margin-left: 12px;
}

.facebook,
.linked-in,
.twitter,
.youtube {
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* object-fit: contain; */
}

.menu-item {
  padding: 0px 15px;
}
.copy-right {
  height: 21px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5;
  color: #878992;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-32 {
  padding-top: 32px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-left-25 {
  padding-left: 25px;
}
.padding-bottom-25 {
  padding-bottom: 25px;
}
.no-padding-class {
  padding: 0;
}

.marginTop15 {
  margin-top: 15px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.no-margin-class {
  margin: 0;
}

/*--------------------------- section 1 ---------------------------*/
.section-carousal {
  background-image: url(http://172.24.11.239/wordpress/wp-content/uploads/2019/10/bkg-hero.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section-carousal .img-carousal {
  height: fit-content;
}
.section-carousal .title-padding-top {
  padding-top: 4rem;
}
.section-carousal .title {
  font-family: Roboto;
  font-size: 38px;
  line-height: 1.26;
  color: #2c303f;
  font-weight: 400;
}
.section-carousal .list1 {
  padding-left: 15px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.64;
  color: #2c303f;
}
.section-carousal .btn-order-now,
.btn-order-now {
  border-radius: 23px;
  background-color: #1f589f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 6px 30px;
}
.btn-order-now:hover {
  background-color: #0b2265;
  color: #ffffff !important;
}
.section-carousal .form-text {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #868a92;
}

.section-carousal .request-consulation {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #2c303f;
}
.section-carousal .form-request-consultation,
.form-request-consultation {
  margin-bottom: 0.5rem;
}
.section-carousal .form-consultation {
  padding: 18px 18px 5px;
  border-radius: 5px;
  background-color: #ffffff;
}
.section-carousal .form-consultation ::placeholder {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #2c303f;
}
.section-carousal .form-consultation .form-control {
  border-radius: 0 !important;
  border: solid 1px #e3e5e8;
  padding: 0.375rem 0.75rem !important;
}
.section-carousal .form-consultation .label-checkbox {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #2c303f;
}
.section-carousal .form-consultation .custom-control-label::before {
  color: #1f589f !important;
}
/*------------------------- section 2 & section 4----------------------------------- */
.sec-choose-medical-alert .section-title,
.section-medical-alert-work .section-title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.63;
  color: #0b2265;
}
.sec-choose-medical-alert .medical-alert-para-title,
.section-medical-alert-work .medical-alert-para-title {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  color: #2c303f;
}
.sec-choose-medical-alert .medical-alert-para-text,
.section-medical-alert-work .medical-alert-para-text,
.section-lifestyle .medical-alert-para-text,
.section-take-assessment .medical-alert-para-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  color: #2c303f;
}
/* --------------------------------section 3------------------------------ */
.section-special-offer {
  background-image: url(http://172.24.11.239/wordpress/wp-content/uploads/2019/10/bkg-special-offer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section-special-offer .offer-text {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.63;
  color: #ffffff;
}
.section-special-offer .shipping {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.17;
  color: #ffffff;
}
.section-special-offer .retail-value,
.strikethrough {
  border-radius: 57px;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  line-height: 2.17;
  color: #0d2167;
  padding: 2px 10px;
}
.strikethrough {
  text-decoration: line-through;
}
.section-special-offer .free {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.81;
  color: #fb3640;
}
.section-special-offer .terms {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}
.section-special-offer .btn-order-now-red {
  border-radius: 23px;
  background-color: #fb3640;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 22px;
  color: #ffffff;
}
.section-special-offer .btn-order-now-red:hover {
  background-color: #db001c;
}
.section-special-offer .or {
  font-size: 20px;
  line-height: 1.54;
  text-align: center;
  color: #ffffff;
}
.section-special-offer .call-us {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
}

/* --------------------------------------- */
.section-lifestyle {
  background-color: #f6f8fc;
}
.section-lifestyle .card-height {
  height: 100% !important;
}
/* -----------------------------------section-video----------------------- */
.section-video {
  background-color: #e1ecf7;
}
.section-video .video-title,
.section-take-assessment .video-title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.63;
  color: #2c303f;
}
/* ---------------------------------section-lifestyle----------------------------------- */
.section-lifestyle .title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.63;
  color: #2c303f;
}
.section-lifestyle .card {
  border: solid 2px #1f589f;
  height: 100%;
}
.section-lifestyle .card:hover {
  border: solid 2px #0b2265;
}
.section-lifestyle .card-title {
  background-color: #eef3fc;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.54;
  padding: 10px;
  color: #1f589f;
}
.section-lifestyle .card-title:hover {
  background-color: #0b2265;
  color: #ffffff;
}
.section-lifestyle .icons {
  padding: 0 18px 0 0px;
  vertical-align: sub;
}
.section-lifestyle .card-titles {
  font-family: Roboto;
  font-size: 24px;
  line-height: 2.17;
  color: #2c303f;
}
.section-lifestyle .features {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 2.6;
  color: #3e414f;
}
.section-lifestyle .list2 {
  padding: 0 55px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.64;
  color: #2c303f;
}
/* --------------------------------------------section-take-assessment-------------------------------- */
.section-take-assessment {
  background-image: url(http://172.24.11.239/wordpress/wp-content/uploads/2019/10/how-to-choose-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
input[type="radio"]:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -6px;
  left: 1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  border: solid 1px #e3e5e8;
}
input[type="radio"]:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: -6px;
  left: 1px;
  position: relative;
  background-color: #1f589f;
  content: "";
  display: inline-block;

  border: 2px solid white;
}

/*-------------------------- Mobile view style -----------------------------*/
@media (max-width: 320px) {
  .section-carousal img.img-carousal {
    width: 154.3px !important;
    height: 218px !important;
  }

  .section-carousal .title {
    font-size: 17px !important;
    line-height: 1.26 !important;
  }

  .section-carousal .btn-order-now,
  .btn-order-now {
    padding: 3px 7px !important;
    font-size: 16px !important;
  }

  .section-special-offer .retail-value,
  .strikethrough {
    font-size: 16.7px !important;
    width: fit-content !important;
    padding: 6px 7px !important;
  }
  .section-special-offer .retail-value,
  .strikethrough {
    padding: 6px 8px !important;
  }
}
@media (max-width: 767px) {
  .site-header {
    height: 62.3px;
    display: flex;
    justify-content: space-around;
    box-shadow: none;
  }
  .order-now-btn,
  .desktop-logo,
  .contact-number,
  .desktop-footer,
  .desktop-header,
  .side-menu,
  .hide-side-menu {
    display: none;
  }
  .show-side-menu {
    display: block;
    background: white;
    top: 45px;
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 100%;
    box-shadow: 80px 0 0 0px rgb(0, 0, 0, 0.5);
  }
  .close-menu {
    padding: 65px 0px 10px 10px;
  }
  .side-menu ul {
    margin: 0;
    padding: 0;
  }

  .menu-item {
    padding: 0px !important;
    border-top: 0.5px solid #979797 !important;
    border-left: 0.5px solid #979797 !important;
    border-right: 0.5px solid #979797 !important;
  }
  li.menu-item:last-child {
    border-bottom: 0.5px solid #979797 !important;
  }

  .nav-link.active {
    border: none;
    background-color: #1f589f;
    color: white !important;
  }
  .mobile-footer,
  .mobile-header {
    display: block;
  }
  .mobile-header {
    height: 40px;
    display: flex;
    padding-top: 5px;
    padding-right: 5px;
  }

  .header {
    display: flex;
    height: 45px;
    font-size: 11.3px;
    padding-top: 5px;
    line-height: 1.18;
    text-align: center;
    justify-content: center;
  }
  .headerText {
    width: 80%;
    height: 1%;
    font-size: 11.3px;
  }

  .About-Us-Careers-Cus,
  .-Monitoring-At-H,
  .Medical-Alert-by-Con {
    width: 100%;
    height: 100%;
  }

  .dropdown_down {
    background-image: url(http://172.24.11.239/wordpress/wp-content/uploads/2019/10/footer-dropdown-down.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .dropdown_up {
    background-image: url(http://172.24.11.239/wordpress/wp-content/uploads/2019/10/footer-dropdown-up.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .collapsible-div {
    position: relative;
  }
  .collapse.show {
    padding: 0px 10px 10px 10px;
  }
  .collapsible-div a:hover {
    text-decoration: none !important;
  }
  .collapsible-div {
    padding: 12px;
    border-top: #babdc3 0.7px solid;
  }
  .about_medical .collapsible-div {
    border-top: none !important;
  }
  .connect_us .collapsible-div {
    border-bottom: none !important;
  }

  .borderBottom {
    border-bottom: #babdc3 0.7px solid;
  }
  .borderTop {
    border-top: #babdc3 0.7px solid;
  }
  .About-Medical-Alert {
    margin-bottom: 0%;
  }
  .dropdown_down,
  .dropdown_down.dropdown_up {
    position: absolute;
    right: 10px;
    top: 8px;
    display: block;
    width: 40px;
    height: 40px;
  }

  .Connect-with-Us {
    width: 100% !important;
    margin-bottom: 2%;
  }

  .call-us-at-div {
    width: 90%;
    height: 95%;
    display: block;
    padding: 5%;
  }
  .call-us-at {
    height: 200px;
    padding: 6%;
    margin-top: 0%;
  }
  .Call-us-at-800-800-2 {
    font-size: 18px;
    padding: 0px;
  }
  .or {
    height: 20px;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .call-us-at-order-now-btn {
    width: 115.7px;
    height: 39px;
    font-size: 14px;
  }

  .copy-right {
    margin-top: 5%;
    margin-left: 2%;
    font-size: 11px;
    line-height: 2;
  }
  .section-carousal {
    background-image: url(http://172.24.11.239/wordpress/wp-content/uploads/2019/10/mob-bkg.png);
    background-size: 100%;
  }
  .section-carousal .title {
    font-size: 20px;
    line-height: 1.46;
  }
  .section-carousal img.img-carousal {
    width: 206.3px;
    height: 300px;
  }
  .section-carousal .btn-order-now,
  .btn-order-now {
    padding: 5px 15px;
  }
  .section-carousal .list1 {
    font-size: 13px;
    line-height: 1.61;
  }
  .section-carousal .mob-row-bg {
    background-color: #f4f3f4;
  }
  .sec-choose-medical-alert .section-title,
  .section-medical-alert-work .section-title {
    font-size: 22px;
    line-height: 1.36;
  }
  .sec-choose-medical-alert .medical-alert-para-title,
  .section-medical-alert-work .medical-alert-para-title {
    font-size: 18px;
    font-weight: 400;
  }
  .sec-choose-medical-alert .medical-alert-para-text,
  .section-medical-alert-work .medical-alert-para-text,
  .section-take-assessment .medical-alert-para-text {
    font-size: 14px;
    line-height: 1.29;
  }
  .sec-choose-medical-alert .btn-order-now {
    padding: 10px 35px;
    font-size: 14px;
  }
  .section-special-offer {
    background-image: url(http://172.24.11.239/wordpress/wp-content/uploads/2019/10/mob-bkg-special-offer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .section-special-offer .offer-text {
    font-size: 22.7px;
  }
  .section-special-offer .shipping,
  .section-lifestyle .list2,
  .section-special-offer .or {
    font-size: 12px;
  }
  .section-special-offer .retail-value,
  .strikethrough {
    font-size: 16.7px;
    width: fit-content;
    padding: 6px 16px !important;
  }
  .section-special-offer .free {
    font-size: 18px;
  }
  .section-lifestyle .title {
    font-size: 22px;
    font-weight: 300;
    line-height: 0.79;
  }
  .section-lifestyle .medical-alert-para-text {
    font-size: 12px;
    line-height: 1.75;
    font-weight: 400;
    padding: 0 15px;
  }
  .section-lifestyle .card-titles,
  .section-lifestyle .card-title {
    font-size: 18px;
    line-height: 1.74;
  }
  .section-lifestyle .features {
    font-size: 14px;
    line-height: 3.14;
  }
  .section-special-offer .call-us {
    font-size: 16px;
    /* line-height: 1; */
    position: absolute;
    line-height: inherit;
    padding-left: 18px;
  }
  .section-special-offer .btn-order-now-red {
    padding: 10px 22px;
  }
}
