.header {
  background-color: #fb3640;
  align-items: center;
  padding-top: 5px;
}

.headerText {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.headerText .text-style-1 {
  font-weight: normal;
}

.navbar-expand-md .navbar-collapse {
  flex: none;
}

.order-now-btn {
  width: 113px;
  height: 35px;
  margin-top: 18px;
  border-radius: 17.5px;
  border: solid 1px #1f589f;
  background-color: white !important;
  vertical-align: middle;
  text-align: center;
}

.contact-number {
  width: 145px;
  height: 29px;
  margin-top: 22px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fb3640;
}

.cart-icon {
  width: 26px;
  height: 26px;
  object-fit: contain;
}
.site-header {
  /* width: 1920px;
    height: 75px; */
  display: flex;
  justify-content: center;
  box-shadow: 0 12px 70px 0 rgba(0, 0, 0, 0.03), 0 0 12px 0 rgba(0, 0, 0, 0.33);
  background-color: #ffffff;
}
.no-padding-class {
  padding: 0;
}
/*--------------------------- section 1 ---------------------------*/
.section-carousal {
  background-image: url(bkg-hero.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section-carousal .title-padding-top {
  padding-top: 4rem;
}
.section-carousal .title {
  font-family: Roboto;
  font-size: 38px;
  line-height: 1.26;
  color: #2c303f;
  font-weight: 400;
}
.section-carousal .list1 {
  padding-left: 15px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.64;
  color: #2c303f;
}
.section-carousal .btn-order-now,
.btn-order-now {
  border-radius: 23px;
  background-color: #1f589f;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 6px 30px;
}
.btn-order-now:hover {
  background-color: #0b2265;
  color: #ffffff !important;
}
.section-carousal .form-text {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #868a92;
}

.section-carousal .request-consulation {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #2c303f;
}
.section-carousal .form-request-consultation,
.form-request-consultation {
  margin-bottom: 0.5rem;
}
.section-carousal .form-consultation {
  padding: 18px 18px 5px;
  border-radius: 5px;
  background-color: #ffffff;
}
.section-carousal .form-consultation ::placeholder {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #2c303f;
}
.section-carousal .form-consultation .form-control {
  border-radius: 0 !important;
  border: solid 1px #e3e5e8;
}
.section-carousal .form-consultation .label-checkbox {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #2c303f;
}
.section-carousal .form-consultation .custom-control-label::before {
  color: #1f589f !important;
}
/*------------------------- section 2 & section 4----------------------------------- */
.sec-choose-medical-alert .section-title,
.section-medical-alert-work .section-title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.63;
  color: #0b2265;
}
.sec-choose-medical-alert .medical-alert-para-title,
.section-medical-alert-work .medical-alert-para-title {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  color: #2c303f;
}
.sec-choose-medical-alert .medical-alert-para-text,
.section-medical-alert-work .medical-alert-para-text,
.section-lifestyle .medical-alert-para-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.63;
  color: #2c303f;
}
/* --------------------------------section 3------------------------------ */
.section-special-offer {
  background-image: url(bkg-special-offer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section-special-offer .offer-text {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.63;
  color: #ffffff;
}
.section-special-offer .shipping {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.17;
  color: #ffffff;
}
.section-special-offer .retail-value,
.strikethrough {
  border-radius: 57px;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  line-height: 2.17;
  color: #0d2167;
  padding: 2px 16px;
}
.strikethrough {
  text-decoration: line-through;
}
.section-special-offer .free {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.81;
  color: #fb3640;
}
.section-special-offer .terms {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}
.section-special-offer .btn-order-now-red {
  border-radius: 23px;
  background-color: #fb3640;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 22px;
  color: #ffffff;
}
.section-special-offer .btn-order-now-red:hover {
  background-color: #db001c;
}
.section-special-offer .or {
  font-size: 20px;
  line-height: 1.54;
  text-align: center;
  color: #ffffff;
}
.section-special-offer .call-us {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
}

/* --------------------------------------- */
.section-lifestyle {
  background-color: #f6f8fc;
}
.section-lifestyle .card-height {
  height: 100% !important;
}
/* -----------------------------------section-video----------------------- */
.section-video {
  background-color: #e1ecf7;
}
/* ---------------------------------section-lifestyle----------------------------------- */
.section-lifestyle .title {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.63;
  color: #2c303f;
}
.section-lifestyle .card {
  border: solid 2px #1f589f;
  height: 100%;
}
.section-lifestyle .card:hover {
  border: solid 2px #0b2265;
}
.section-lifestyle .card-title {
  background-color: #eef3fc;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.54;
  padding: 10px;
  color: #1f589f;
}
.section-lifestyle .card-title:hover {
  background-color: #0b2265;
  color: #ffffff;
  border: solid 2px #0b2265;
}
.section-lifestyle .icons {
  padding: 0 18px 0 0px;
  vertical-align: sub;
}
.section-lifestyle .card-titles {
  font-family: Roboto;
  font-size: 24px;
  line-height: 2.17;
  color: #2c303f;
}
.section-lifestyle .features {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 800;
  line-height: 2.6;
  color: #3e414f;
}
.section-lifestyle .list2 {
  padding: 0 55px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.64;
  color: #2c303f;
}
